/************************************ LE DAMOS ESTILO AL HEADER ********************************************/

.nav ul{
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

.nav li {
    display: inline-block;
    font-weight: bold;
}

.li a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

header {
    background-color: rgb(65, 222, 48);
}

li :hover {
    background-color: whitesmoke;
}

/************************************ LE DAMOS ESTILO AL MAIN ********************************************/

body {
    background-color: rgb(186, 180, 180);
}

.Uno img {
    float: right;
}

.Uno p {
    float: left;
}

.imagenInicio {
    width: 300px;
    margin-left: auto;
    display: block;
    float: right
}

.parrafoInicio {
    display: inline-block;
    float: left;
}

.Uno {
    float: left;
}

/************************************ LE DAMOS ESTILO AL FOOTER ********************************************/

footer {
    background-color: rgb(65, 222, 48);
}